server {
    listen 8080;
    location / {
        proxy_pass http://clamav-scanservice:80/;
        proxy_set_header Download-From https://files.pythonhosted.org/;
        proxy_set_header Cache-Scan True;
    }
}